.error-container {
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: var(--stiletto);
	text-align: center;
}

.error-container label{
	font-size: 20px;
	font-weight: bolder;
}