.note-card{
    width: 300px;
    height: 300px;
    background-color: #D75FE3;
    border-radius: 20px;
    color: whitesmoke;
    margin: 10px;
}

.note-card header{
    background-color: darkmagenta;
    padding: 8px;
    border-radius: 20px 20px 0 0;
}

.note-card header > label {
    font-size: 15px;
}

.note-card-content {
    flex: 6;
    overflow: auto;
    padding: 8px;
}

.note-card-content > label{
    font-size: 20px;
    margin-top: 10px;
}

.note-card-content::-webkit-scrollbar {
    width: 5px;
}

.note-card-content::-webkit-scrollbar-track {
   background: #f1f1f1;
}
 
.note-card-content::-webkit-scrollbar-thumb {
    background: #888;
}  
  
.note-card-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.note-card-footer{
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.note-card-footer button:nth-of-type(1){
    border-radius: 0 0 0 20px;
}

.note-card-footer button:nth-of-type(2){
    border-radius: 0 0 20px 0;
}

@media(max-width:590px){
    .note-card{
        width: 90%;
    }
}

@media(min-width: 1380px){
    .note-card{
        width: 340px;
        height: 340px;
    }
}