.profile-notes-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: auto;
}

.user-profile-info{
    width: 30%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

@media(max-width:1290px){
    .user-profile-info {
        width: 40%;
    }
}

@media(max-width:890px){
    .user-profile-info {
        width: 60%;
    }
}

@media(max-width:630px){
    .user-profile-info {
        width: 80%;
    }
}

.user-profile-info > div:first-child {
    margin-top: 20px;
}

.user-profile-info > label{
    font-weight: bold;
    font-size: 25px;
}

.user-profile-info img{
    object-fit: cover;
}

.create-notes-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex: 1;
}

.create-notes-container > button:first-child > div { 
    position: absolute;
}

.create-notes-container > button:nth-of-type(2){
    display: none;
}

@media(max-width:590px){
    .user-profile-info {
        width: 100%;
    }

    #notes-container{
        display: none;
    }

    .create-notes-container > button:nth-of-type(2){
        display: block;
    }    
}

.notemodal-header{
    background-color: #5E2563;
    color: white;
}

.notemodal-body,  .notemodal-body + div{
    background-color: rgba(94, 37, 99, .5);    
}

.notemodal-footer{
    flex-direction: row;
}
