.user-notes-container{
    background-color: var(--secondary-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.user-notes-container > button{
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}

.notes-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    flex: 1;
}

@media(max-width: 958px){
    .notes-container{
        justify-content: center;
    }
}

.notes-container-align{
    justify-content: center;
}

