.status-modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.success-modal-bg{
    background-color: var(--pastel-green);
}

.error-modal-bg{
    background-color: var(--stiletto);
}

.status-modal-container label{
    font-size: 25px;
    font-weight: bold;
}
